{
  "extends": "eslint-config-es2015",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "rules": {
    "no-console": 0,
    "indent": [2, 4]
  }
}
