environment:
  matrix:
    - nodejs_version: '14'
    - nodejs_version: '12'

matrix:
  fast_finish: true

install:
  - ps: Install-Product node $env:nodejs_version
  - set CI=true
  - npm ci

build: off

cache:
  - node_modules
  - "%LOCALAPPDATA%\\Yarn"

test_script:
  - node --version
  - npm --version
  - git --version
  - npm test

branches:
  only:
    - master
    - next
    - beta
    - alpha

skip_tags: true
