{
  "plugins": ["import"],
  "extends": [
      "standard",
      "plugin:import/errors",
      "plugin:import/warnings"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "no-console": 0,
    "indent": [2, 4],
    "import/no-extraneous-dependencies": 2
  }
}
