language: node_js
notifications:
  email: false
node_js:
  - '8'
  - '6'
  - '4'
before_install: if [[ `npm -v` < 3* ]]; then npm i -g npm@^3; fi
script:
  - npm run lint
  - npm run test:coverage
after_success:
  - bash <(curl -s https://codecov.io/bash)
  - npm install -g semantic-release
  - semantic-release pre && npm publish && semantic-release post
branches:
  only:
    - master
    - /^greenkeeper/.*$/
