language: node_js
cache:
  directories:
    - node_modules
node_js:
  - '7'
  - '6'
  - '4'
before_script:
  - npm prune
after_success:
  - bash <(curl -s https://codecov.io/bash)
  - npm install -g semantic-release
  - semantic-release pre && npm publish && semantic-release post
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
