branches:
  only:
    - master
    - /^greenkeeper/.*$/

environment:
  matrix:
    - nodejs_version: '8'
    - nodejs_version: '6'
    - nodejs_version: '4'

install:
  - ps: Install-Product node $env:nodejs_version
  - set CI=true
  - npm install --global npm@4
  - set PATH=%APPDATA%\npm;%PATH%
  - npm install

cache:
  - node_modules

test_script:
  - node --version
  - npm --version
  - npm test

build: off
