name: Security Analysis

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 * * 1' # 00:00 on Monday.

permissions:
  contents: read
  security-events: write

jobs:
  CodeQL:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: github/codeql-action/init@v4
        with:
          languages: javascript
      - uses: github/codeql-action/analyze@v4

  npm:
    uses: ./.github/workflows/npm.yml

  npm-audit:
    runs-on: ubuntu-latest
    needs: npm
    steps:
      - uses: actions/checkout@v6
      - run: npm audit --include prod --audit-level high
